// TODO: refactor, global variables

@mixin setCommon($left: null) {
    top: 0;
    right: 0;
    bottom: 0;
    @if $left != null {
        left: 0;
    }
    z-index: 10;
}

:host {
    position: fixed;
    width: 80vw;
    background-color: white;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.6);
    // transition: transform 300ms ease-in-out;
    @include setCommon();

    .backdrop {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        @include setCommon(left);
    }
}
