<div class="container">

    <h2>Form Page</h2>
    <app-form-configurator *ngIf="questions"
                           [questions]="questions"
                           (formInfo)=onFormSubmit($event)>
    </app-form-configurator>

    <!-- button group -->
    <div class="btn-group"
         role="group"
         aria-label="Basic example">
        <button type="button"
                class="btn btn-secondary"
                (click)="onFormChange('-')">
            {{ 'common.form' | translate }} -
        </button>
        <button type="button"
                class="btn btn-secondary"
                (click)="onFormChange('+')">
            {{ 'common.form' | translate }} +
        </button>
        Form ID: {{ formId }}
    </div>
    <!-- <div class="btn-group"
         role="group"
         aria-label="Basic example">
        <button *ngFor="let key of getFormsAmountKeys()"
                type="button"
                class="btn btn-secondary"
                (click)="onFormChange(key)">
            {{ 'common.form' | translate }} {{ key }}
        </button>
    </div> -->
</div>
