@import "~stylesheets/modules/_all.scss";

.media-example {
    @include size(100%, 50px);

    @include screen(min) {
        background-color: map-get($responsive-colors, min);
    }

    @include screen(xs) {
        background-color: map-get($responsive-colors, xs);
    }

    @include screen(sm) {
        background-color: map-get($responsive-colors, sm);
    }

    @include screen(md) {
        background-color: map-get($responsive-colors, md);
    }

    @include screen(lg) {
        background-color: map-get($responsive-colors, lg);
    }

    @include screen(xl) {
        background-color: map-get($responsive-colors, xl);
    }
}

.media-example-2 {
    @include size(100%, 50px);

    @include media-breakpoint-down(xs) {
        background-color: map-get($responsive-colors, min);
    }

    @include media-breakpoint-between(xs, xl) {
        background-color: map-get($year-color, 2014-radiand-orchid);
    }

    @include media-breakpoint-up(xl) {
        background-color: map-get($responsive-colors, xl);
    }
}

.container {
    .row {
        [class*="col"] {
            height: 50px;
        }
        .col {
            background-color: map-get($responsive-colors, min);
            &-sm {
                background-color: map-get($responsive-colors, xs);
            }
            &-md {
                background-color: map-get($responsive-colors, sm);
            }
            &-lg {
                background-color: map-get($responsive-colors, md);
            }
            &-xl {
                background-color: map-get($responsive-colors, lg);
            }
        }
    }

    // displays browser with css rules
    .row.browser-specific {
        p {
            text-align: center;
            font-weight: bold;
            height: 50px;
            background-color: pink;
            &::after {
                content: attr(data-text) "Chrome";
            }
        }

        @supports (-moz-appearance: none) {
            p {
                color: white;
                background-color: blue;
                &::after {
                    content: attr(data-text) "FireFox";
                }
            }
        }

        @supports (-ms-ime-align: auto) {
            p {
                color: white;
                background-color: red;
                &::after {
                    content: attr(data-text) "Edge";
                }
            }
        }
    }
}
