<!-- navbar - it may be replaced by a header tag -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
       [routerLink]="['/']"
       routerLinkActive="active">
        {{ 'common.home' | translate }}
    </a>

    <div class="collapse navbar-collapse"
         id="navbarNav">
        <ul class="navbar-nav">

            <!-- form link -->
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                   [routerLink]="['/form']">
                    {{ 'common.form' | translate }}
                </a>
            </li>

            <!-- gifs link -->
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                   [routerLink]="['/gifs']">
                    {{ 'common.gif' | translate }}
                </a>
            </li>

            <!-- TODO: extra feature -->
            <li class="nav-item">
                <a class="nav-link"
                   href="#">
                    {{ 'common.feature' | translate }}
                </a>
            </li>

            <!-- TODO: extra feature -->
            <li class="nav-item">
                <a class="nav-link disabled"
                   href="#"
                   tabindex="-1"
                   aria-disabled="true">
                    {{ 'common.feature' | translate }}
                </a>
            </li>
        </ul>
    </div>

    <!-- change language dropdown -->
    <div class="d-inline-block"
         ngbDropdown>
        <button class="btn btn-primary"
                id="languageDropdown"
                ngbDropdownToggle>
            {{ currentLanguage.name }} ({{ currentLanguage.code }})
        </button>
        <div ngbDropdownMenu
             aria-labelledby="languageDropdown">
            <button *ngFor="let lang of languages"
                    (click)="onLangClick(lang)"
                    ngbDropdownItem>
                {{ lang.name }} ({{ lang.code }})
            </button>
        </div>
    </div>
</nav>

<!-- sidenav -->
<app-sidenav #sidenav
             [hasBackdrop]="true">
    <ng-container *ngTemplateOutlet="testSidenav"></ng-container>
</app-sidenav>

<router-outlet></router-outlet>

<ng-container *ngTemplateOutlet="testSidenav"></ng-container>

<!-- template for test sidenav -->
<ng-template #testSidenav>
    <div class="text-align-center margin-top">
        <h4>
            {{ 'common.test_sidenav' | translate }}
        </h4>

        <!-- button group -->
        <div class="btn-group"
             role="group"
             aria-label="Basic example">
            <button type="button"
                    class="btn btn-secondary"
                    (click)="sidenav.toggle()">
                {{ 'common.toggle' | translate }}
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="sidenav.open()">
                {{ 'common.open' | translate }}
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    (click)="sidenav.close()">
                {{ 'common.close' | translate }}
            </button>
        </div>
    </div>
</ng-template>
