@import "~stylesheets/modules/_colors.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    color: $darkgray;
}
