<form [formGroup]="form"
      (ngSubmit)="onSubmit()">

    <!-- questions -->
    <div id="questions"
         formArrayName="questions">
        <div *ngFor="let question of getQuestionsControls(); let i=index"
             [formGroupName]="i">
            <h4 class="">{{question.controls.title.value}}</h4>
            <p *ngIf="questions[i].subTitle"
               class="">{{questions[i].subTitle}}</p>

            <!-- answers -->
            <fieldset>
                <legend></legend>

                <!-- TODO: refactor to ng templates -->
                <!-- multiple checkbox -->
                <ng-container *ngIf="questions[i].offeredServiceQuestionType === ServiceQuestionType.multiple">
                    <ng-container *ngFor="let control of getAnswersControls(i); let j=index">
                        <input type="checkbox"
                               id="question{{i}}-answer{{j}}"
                               name="answer-{{i}}"
                               [formControl]="control">
                        <label for="question{{i}}-answer{{j}}">{{questions[i].offeredServiceAnswers[j].answer}}</label>
                    </ng-container>
                </ng-container>

                <!-- radio -->
                <ng-container *ngIf="questions[i].offeredServiceQuestionType === ServiceQuestionType.unique">
                    <ng-container *ngFor="let answer of questions[i].offeredServiceAnswers; let j=index">
                        <input type="radio"
                               id="question{{i}}-answer{{j}}"
                               name="answer-{{i}}"
                               value="{{answer.answer}}"
                               [formControl]="getAnswersControls(i, 0)">
                        <label for="question{{i}}-answer{{j}}">{{answer.answer}}</label>
                    </ng-container>
                </ng-container>

                <!-- numeric -->
                <ng-container *ngIf="questions[i].offeredServiceQuestionType === ServiceQuestionType.numeric">
                    <input type="number"
                           id="question{{i}}-answer"
                           name="answer-{{i}}"
                           [formControl]="getAnswersControls(i, 0)"
                           [required]="questions[i].required">
                    <label for="question{{i}}-answer">Introduzca un valor</label>
                </ng-container>

            </fieldset>

        </div>

    </div>

    <!-- more information -->
    <div id="more-information">
        <fieldset class="">
            <legend class="">Más información</legend>
            <label for=""
                   class="">Más información</label>
            <textarea class=""
                      placeholder="Si tienes más información sobre el trabajo a realizar, añádelo aquí para poder calcular mejor el presupuesto estimado."
                      formControlName="textArea"
                      rows="4"
                      cols="50">
            </textarea>
        </fieldset>
    </div>

    <!-- button -->
    <div class="">
        <button class="">
            Encontrar profesionales
        </button>
    </div>
</form>
