<form [formGroup]="form"
      (ngSubmit)="onSubmit()">

    <!-- questions -->
    <div id="questions"
         formArrayName="questions">
        <div *ngFor="let question of getQuestionsControls(); let i=index"
             [formGroupName]="i">
            <h4 class="">{{questions[i].title}}</h4>
            <p *ngIf="questions[i].subTitle"
               class="">{{questions[i].subTitle}}</p>

            <!-- answers -->
            <fieldset>
                <legend></legend>

                <!-- TODO: refactor to ng templates maybe? -->
                <ng-container [ngSwitch]="questions[i].offeredServiceQuestionType">

                    <!-- multiple answers -->
                    <ng-container *ngSwitchCase="ServiceQuestionType.multiple">
                        <ng-container *ngFor="let control of getAnswersControls(i); let j=index">

                            <ng-container [ngSwitch]="questions[i].offeredServiceAnswers[j].offeredServiceAnswerType">

                                <!-- numeric -->
                                <ng-container *ngSwitchCase="ServiceAnswersType.numeric">
                                    <input type="number"
                                           id="question{{i}}-answer{{j}}"
                                           name="answer-{{i}}"
                                           [formControl]="control"
                                           [required]="questions[i].required">
                                </ng-container>

                                <!-- checkbox -->
                                <ng-container *ngSwitchDefault>
                                    <input type="checkbox"
                                           id="question{{i}}-answer{{j}}"
                                           name="answer-{{i}}"
                                           [formControl]="control">
                                </ng-container>

                                <label for="question{{i}}-answer{{j}}">
                                    {{questions[i].offeredServiceAnswers[j].answer}}
                                </label>
                            </ng-container>

                        </ng-container>
                    </ng-container>

                    <!-- unique answers -->
                    <ng-container *ngSwitchCase="ServiceQuestionType.unique">
                        <ng-container *ngFor="let answer of questions[i].offeredServiceAnswers; let j=index">

                            <ng-container [ngSwitch]="questions[i].offeredServiceAnswers[j].offeredServiceAnswerType">

                                <!-- numeric -->
                                <ng-container *ngSwitchCase="ServiceAnswersType.numeric">
                                    <input type="number"
                                           (focus)="onUniqueSelect(i)"
                                           id="question{{i}}-answer{{j}}"
                                           formControlName="answer"
                                           [required]="questions[i].required">
                                </ng-container>

                                <!-- radio -->
                                <ng-container *ngSwitchDefault>
                                    <input type="radio"
                                           (focus)="onUniqueSelect(i)"
                                           id="question{{i}}-answer{{j}}"
                                           value="{{answer.answer}}"
                                           formControlName="answer"
                                           [required]="questions[i].required">
                                </ng-container>

                                <label for="question{{i}}-answer{{j}}">
                                    {{answer.answer}}
                                </label>
                            </ng-container>

                        </ng-container>
                    </ng-container>

                    <!-- alphanumeric answers -->
                    <ng-container *ngSwitchCase="ServiceQuestionType.alphanumeric">
                        <input type="text"
                               id="question{{i}}-answer"
                               formControlName="answer"
                               [required]="questions[i].required">
                        <label for="question{{i}}-answer">
                            Introduzca un valor
                        </label>
                    </ng-container>

                    <!-- numeric answers -->
                    <ng-container *ngSwitchDefault>
                        <input type="number"
                               id="question{{i}}-answer"
                               formControlName="answer"
                               [required]="questions[i].required"
                               [ngClass]="{'numeric-selector': questions[i].offeredServiceQuestionType === ServiceQuestionType.numeric_selector}">
                        <label for="question{{i}}-answer">
                            Introduzca un número
                        </label>
                    </ng-container>

                </ng-container>

            </fieldset>

        </div>

    </div>

    <!-- more information -->
    <div id="more-information">
        <fieldset class="">
            <legend class="">Más información</legend>
            <label for=""
                   class="">Más información</label>
            <textarea class=""
                      placeholder="Si tienes más información sobre el trabajo a realizar, añádelo aquí para poder calcular mejor el presupuesto estimado."
                      formControlName="textArea"
                      rows="4"
                      cols="50">
            </textarea>
        </fieldset>
    </div>

    <!-- button -->
    <div class="">
        <button class="">
            Encontrar profesionales
        </button>
    </div>
</form>
